@use "../utils/utils.scss" as *;

.main {
   position: relative;
   width: 100%;
   height: 100%;
}

@keyframes popup {
   from {
      visibility: hidden;
      top: -50%;
   }
   to {
      visibility: visible;
      top: 25%;
   }
}

.popup--active {
   animation: popup 0.5s ease-in-out forwards;
}

.popup {
   visibility: hidden;
   position: fixed;
   top: 25%;
   left: 50%;
   width: 80%;
   transform: translateX(-50%);
   padding: 2em;
   @include flex-column;
   z-index: 1000;
   background-color: $white;
   border: 1px solid $main-color;
   border-radius: 5px;
   text-align: center;
   &__btn {
      position: relative;
      margin-top: 2em;
      font-size: 1em;
      padding: 0.5em 1em;
      width: 80%;
      color: $black;
      background-color: $white;
      border: 1px solid transparent;
      border-radius: 5px;
      -webkit-box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
      box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
      cursor: pointer;
      transition: color 0.3s;
      z-index: 10;
      overflow: hidden;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         transform: translateY(-120%);
         background-color: $secondary-color;
         transition: transform 0.1s;
         z-index: -1;
      }
      &::after {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         transform: translateY(-120%);
         background-color: $main-color;
         transition: transform 0.5s;
         z-index: -1;
      }
      &:hover {
         color: $white;
         &::before,
         &::after {
            transform: translateY(0);
         }
      }
   }
}

.contact {
   position: relative;
   width: 100%;
   padding: 1em;
   padding-bottom: 4em;
   @include flex-column;
   text-align: center;
   &__title {
      position: relative;
      text-transform: uppercase;
      font-family: "Montserrat";
      font-weight: 500;
      padding: 0.5em;
      font-size: 2em;
      margin-bottom: 1em;
      &::after {
         position: absolute;
         content: "";
         left: 50%;
         bottom: 15%;
         width: 80%;
         height: 5px;
         background-color: $main-color;
         transform: translateX(-50%);
      }
   }
   &__form {
      width: 80%;
      min-width: 280px;
      position: relative;
      padding: 2em 2em;
      border: 1px solid $secondary-color;
      border-radius: 5px;
      &-box {
         position: relative;
      }
      &-input {
         width: 100%;
         padding: 0.5em 1em;
         font-size: 1em;
         z-index: 0;
         border-radius: 5px;
         border: 1px solid $black;
         margin: 0.5em 0;
         &:focus + .contact__form-label {
            transform: translate(5%, -150%);
            color: $main-color;
         }
         &:focus {
            outline: 1px solid $main-color;
            border: transparent;
         }
         &--textarea {
            resize: vertical;
            min-height: 150px;
            + .contact__form-label {
               top: 15%;
            }
         }
      }
      &-label {
         position: absolute;
         padding: 0 0.3em;
         top: 25px;
         transform: translateY(-50%);
         left: 3%;
         transition: transform 0.3s;
         z-index: 1;
         background-color: $white;
      }
      &-error {
         font-weight: 500;
         color: rgb(224, 0, 0);
         margin-bottom: 0.3em;
         justify-self: flex-start;
         display: none;
      }

      &-btn {
         position: relative;
         width: 100%;
         margin-top: 1em;
         padding: 0.5em 2.8em;
         font-size: 1em;
         color: $black;
         background-color: $white;
         border: 1px solid transparent;
         border-radius: 5px;
         -webkit-box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
         -moz-box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
         box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
         cursor: pointer;
         transition: color 0.3s;
         z-index: 10;
         overflow: hidden;
         &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: translateY(-120%);
            background-color: $secondary-color;
            transition: transform 0.1s;
            z-index: -1;
         }
         &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: translateY(-120%);
            background-color: $main-color;
            transition: transform 0.5s;
            z-index: -1;
         }
         &:hover {
            color: $white;
            &::before,
            &::after {
               transform: translateY(0);
            }
         }
      }
      &-title {
         position: absolute;
         left: 50%;
         top: -20px;
         transform: translateX(-50%);
         text-wrap: nowrap;
         background-color: $white;
         padding: 0.5em;
         border-radius: 5px;
         border: 1px solid $secondary-color;
      }
   }
   &__policy {
      width: 270px;
      margin-top: 1em;
      font-weight: normal;
      font-size: 1em;
      &-link {
         font-weight: bold;
         position: relative;
         z-index: 10;
         transition: color 0.3s;
         text-decoration: none;
         color: $black;
         cursor: pointer;
         transition: color 0.3s;
         &:before {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $main-color;
            z-index: -1;
            transition: height 0.3s;
         }
         &:hover,
         &:focus {
            color: $white;
            &:before {
               height: 100%;
            }
         }
      }
   }
   &__info {
      @include flex-column;
      padding: 1em 0;
      &-box {
         padding: 0.5em;
         @include flex-column;
         i {
            color: $main-color;
            font-size: 1.4em;
            padding: 0.3em;
         }
      }
      &-text {
         font-size: 1em;
         text-decoration: none;
         color: $black;
      }
   }
}
.map {
   position: relative;
   width: 100%;
   @include flex;
   height: 250px;
   iframe {
      width: 80%;
      height: 100%;
      border: 1px solid $main-color;
      border-radius: 5px;
   }
}

.contact__form-label--active {
   transform: translate(5%, -150%);
   color: $main-color;
}
.contact__form-input--active {
   outline: 1px solid $main-color;
   border: transparent;
}

// sm
@media (min-width: 576px) {
   .contact {
      &-title {
         font-size: 2.2em;
      }
      &__form {
         padding: 3em;
         &-input {
            &--textarea {
               padding: 0.7em 1.4em;
               font-size: 1.1em;
            }
         }
         &-label {
            top: 25px;
            left: 3%;
         }
      }
      &__policy {
         width: 300px;
         font-size: 1em;
      }
      &__info {
         @include flex-column;
         &-box {
            padding: 0.5em;
            i {
               font-size: 1.6em;
               padding: 0.3em;
            }
         }
         &-text {
            font-size: 1.1em;
         }
      }
   }
   .map {
      height: 400px;
   }
   .popup {
      max-width: 500px;
      padding: 3em;
      font-size: 1.1em;
   }
}

@media (min-width: 768px) {
   .popup {
      max-width: 600px;
      padding: 3em;
      font-size: 1.1em;
   }
}

// lg

@media (min-width: 992px) {
   .contact {
      &__title {
         font-size: 3em;
         margin-top: 1.5em;
      }
      &__form {
         padding: 4em;
         max-width: 992px;
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: 25% 60% 15%;
         gap: 10px;
         &-box:nth-of-type(3) {
            grid-column: 1/3;
         }
         &-btn {
            grid-column: 1/3;
            min-height: 35px;
         }
         &-input {
            &--textarea {
               min-height: 150px;
            }
         }
      }
      &__policy {
         width: 900px;
         font-size: 1.2em;
      }
      &__info {
         flex-direction: row;
         padding: 2em 2em;
         &-box {
            min-width: 330px;
            flex-direction: row;
            i {
               color: $main-color;
               font-size: 1.6em;
               padding: 0.3em;
            }
         }
         &-text {
            font-size: 1.1em;
         }
      }
   }
   iframe {
      max-width: 992px;
   }
   .popup {
      max-width: 650px;
      padding: 4em;
      font-size: 1.15em;
   }
}

@media (min-width: 1200px) {
   .contact {
      padding: 4em 6em;
      &__info {
         &-box {
            i {
               color: $main-color;
               font-size: 2em;
               padding: 0.5em;
            }
         }
         &-text {
            font-size: 1.2em;
         }
      }
      &__form-label {
         font-size: 1.2em;
      }
   }
   .map {
      iframe {
         max-width: 1200px;
      }
   }
   .popup {
      padding: 4em;
      font-size: 1.2em;
   }
}
