@use "../utils/utils.scss" as *;

.main {
   position: relative;
   width: 100%;
}
.header {
   position: relative;
   width: 100%;
   padding: 0.5em;
   min-height: 480px;
   z-index: 1;
   text-align: center;
   @include flex-column;
   color: $white;
   &__bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: url("./dist/img/jungle-1807476_1920.jpg");
      background-size: cover;
      background-position: 40% center;
      z-index: -10;
   }
   &__shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.65);
      z-index: -1;
   }
   &__upper-text {
      font-size: 1.4em;
   }
}

.aboutus {
   position: relative;
   width: 100%;
   padding: 1em;
   @include flex-column;
   &__title {
      position: relative;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Montserrat";
      padding: 0.5em;
      font-size: 2em;
      &::after {
         position: absolute;
         content: "";
         left: 50%;
         bottom: 15%;
         width: 80%;
         height: 5px;
         background-color: $main-color;
         transform: translateX(-50%);
      }
   }
   &__box {
      @include flex-column;
      text-align: center;
      width: 100%;
   }
   &__img {
      width: 80%;
      height: 250px;
      object-fit: cover;
      object-position: center;
      margin: 1em 0 2em 0;
   }
   &__heading {
      font-size: 1.4em;
      letter-spacing: 1px;
      margin-bottom: 1em;
   }
   &__text {
      width: 75%;
      font-size: 1.1em;
      line-height: 1.5em;
   }
   &__text-box {
      @include flex-column;
   }
}

// divider
.divider {
   margin: 2em 0;
   position: relative;
   width: 100%;
   height: 200px;
   @include flex;
   z-index: 10;
   &__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-image: url("./dist/img/girl-5785590_1920.jpg");
      z-index: -10;
   }
   &__shadow {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.65);
      z-index: -1;
   }
   &__text {
      font-weight: 600;
      position: relative;
      color: $white;
      font-size: 1.2em;
      text-align: center;
      width: 150px;
      padding: 0.5em 0;
      z-index: 10;
      transition: color 0.3s;
      &::before {
         position: absolute;
         content: "";
         left: -20%;
         top: -20%;
         width: 140%;
         height: 140%;
         border: 1px solid $main-color;
      }
      &::after {
         position: absolute;
         content: "";
         left: -20%;
         bottom: -20%;
         width: 140%;
         height: 0;
         background-color: $main-color;
         z-index: -1;
         transition: height 0.2s;
      }
      &:hover {
         // color: $black;
         &::after {
            height: 140%;
         }
      }
   }
}
// offer
.offer {
   position: relative;
   width: 100%;
   padding: 1em;
   padding-bottom: 4em;
   @include flex-column;
   text-align: center;
   &__title {
      position: relative;
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Montserrat";
      padding: 0.5em;
      font-size: 2em;
      &::after {
         position: absolute;
         content: "";
         left: 50%;
         bottom: 15%;
         width: 80%;
         height: 5px;
         background-color: $main-color;
         transform: translateX(-50%);
      }
   }
   &__text {
      padding: 1em;
   }
   &__box {
      @include flex-column;
      width: 100%;
   }
   &__card {
      padding: 1em;
      background-color: $main-color;
      color: $white;
      border-radius: 15px;
      border: 1px solid transparent;
      margin: 2em 0;
      min-height: 400px;
      min-width: 250px;
      width: 75%;
      -webkit-box-shadow: 0px 19px 41px -18px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 19px 41px -18px rgba(66, 68, 90, 1);
      box-shadow: 0px 19px 41px -18px rgba(66, 68, 90, 1);
      @include flex-column;
      transition: all 0.3s;
      &:hover {
         scale: 1.1;
         -webkit-box-shadow: 0px 5px 48px -4px rgba(66, 68, 90, 1);
         -moz-box-shadow: 0px 5px 48px -4px rgba(66, 68, 90, 1);
         box-shadow: 0px 5px 48px -4px rgba(66, 68, 90, 1);
      }
      &-description {
         @include flex-column;
         padding: 2em 0;
         font-size: 1em;
         line-height: 1.6em;
         align-items: start;
      }
      &-title {
         font-size: 2em;
         font-weight: 500;
         margin-bottom: 0.5em;
      }
      &-price {
         font-size: 3em;
         font-weight: 700;
      }
      &-option {
         font-size: 1.2em;
         .fa-check {
            color: limegreen;
         }
         .fa-minus {
            color: rgb(190, 190, 190);
         }
         &--off {
            color: rgb(190, 190, 190);
         }
      }
   }
   &__btn {
      position: relative;
      padding: 0.5em 2.8em;
      font-size: 1em;
      color: $black;
      background-color: $reversed-secondary-color;
      border: 1px solid transparent;
      border-radius: 5px;
      -webkit-box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
      -moz-box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
      box-shadow: 0px 9px 23px -7px rgba(66, 68, 90, 1);
      cursor: pointer;
      transition: color 0.3s;
      z-index: 10;
      overflow: hidden;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         transform: translateY(-120%);
         background-color: $secondary-color;
         transition: transform 0.1s;
         z-index: -1;
      }
      &::after {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         transform: translateY(-120%);
         background-color: $main-color;
         transition: transform 0.5s;
         z-index: -1;
      }
      &:hover {
         color: $white;
         &::before,
         &::after {
            transform: translateY(0);
         }
      }
   }
   &__lower-text {
      position: relative;
      width: 220px;
      font-size: 1.4em;
      margin-top: 1.4em;
      &::after {
         position: absolute;
         content: "";
         left: 50%;
         transform: translateX(-50%);
         bottom: -35%;
         width: 65%;
         height: 1px;
         background-color: $secondary-color;
      }
      &-link {
         position: relative;
         z-index: 10;
         transition: color 0.3s;
         text-decoration: none;
         color: $black;
         cursor: pointer;
         transition: color 0.3s;
         &:before {
            position: absolute;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $main-color;
            z-index: -1;
            transition: height 0.3s;
         }
         &:hover,
         &:focus {
            color: $white;
            &:before {
               height: 100%;
            }
         }
      }
   }
}
@media(min-width: 375px){
   .offer__lower-text{
      width: 350px;
   }
}

// sm
@media (min-width: 576px) {
   .header {
      min-height: 575px;
      &__upper-text {
         font-size: 2em;
      }
      &__title {
         font-size: 3em;
         max-width: 550px;
      }
   }
   .aboutus {
      &__img {
         width: 80%;
         height: 400px;
      }
      &__text {
         width: 80%;
      }
      &__heading {
         font-size: 1.8em;
      }
   }
   .divider {
      &__text {
         font-size: 1.8em;
         width: 375px;
      }
   }
   .offer {
      &__card {
         min-height: 450px;
         width: 60%;
         &-title {
            font-size: 2.2em;
         }
         &-price {
            font-size: 3.5em;
         }
         &-description {
            font-size: 1.4em;
         }
      }
      &__btn {
         font-size: 1.2em;
      }
      &__lower-text {
         width: 450px;
      }
   }
}
// md
@media (min-width: 768px) {
   .divider {
      height: 300px;
      &__text {
         font-size: 2em;
         width: 400px;
      }
   }
   .offer__lower-text {
      width: 550px;
   }
}

// lg

@media (min-width: 992px) {
   .header {
      padding-top: 4em;
      min-height: 400px;
      &__text {
         @include flex-column;
         align-items: start;
         text-align: left;
      }
      &__upper-text {
         font-size: 1.4em;
      }
      &__title {
         font-size: 2em;
         max-width: 100%;
      }
   }
   .aboutus {
      padding-top: 100px;
      margin-top: -80px;
      &__title {
         font-size: 3em;
      }
      &__box {
         padding: 4em 0;
         display: grid;
         grid-template-columns: 50% 50%;
         text-align: left;
      }
      &__text-box {
         align-items: start;
         padding: 0 1em;
      }
      &__img {
         margin: 0;
         place-self: center;
         height: 350px;
      }
   }
   .divider {
      height: 350px;
      &__text {
         font-size: 2em;
         width: 600px;
      }
   }
   .offer {
      padding-top: 80px;
      margin-top: -80px;
      padding-bottom: 5em;
      &__title {
         font-size: 3em;
      }
      &__text {
         font-size: 1.4em;
      }
      &__box {
         flex-direction: row;
      }
      &__card {
         max-width: 200px;
         margin: 2em;
         &-title {
            font-size: 2em;
         }
         &-price {
            font-size: 3em;
         }
         &-description {
            font-size: 1em;
         }
      }
      &__lower-text{
         width: 900px;
         &::after{
            width: 930px;
         }
      }
   }
}
@media (min-width: 1200px) {
   .header {
      &__text {
         width: 1200px;
         @include flex-column;
         align-items: start;
         text-align: left;
      }
      &__upper-text {
         font-size: 1.4em;
      }
      &__title {
         font-size: 2.6em;
         max-width: 100%;
      }
   }

   .aboutus {
      &__box {
         grid-template-columns: 40% 60%;
         max-width: 1200px;
         padding-top: 1.5em;
      }
      &__text-box {
         padding: 0 2em;
      }
      &__text {
         width: 100%;
         font-size: 1.2em;
         line-height: 1.7em;
      }
      &__heading {
         font-size: 1.8em;
      }
      &__img {
         width: 100%;
      }
   }
   .divider {
      height: 400px;
      &__text {
         font-size: 2.2em;
         width: 750px;
      }
   }
   .offer {
      padding-bottom: 6em;

      &__card {
         margin: 2.4em;
         min-width: 320px;
      }
   }
}
